@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');

body > img#main {
	position: absolute;
	z-index: 1000;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 50px;
}

ul.tabs img {
	width: 70px;
	height: 70px;
	object-fit: cover;
}

ul.tabs li {
	width: 95px;
	height: 95px;
	background: white;
	color: #222;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 10px;
}
ul.tabs li.on {
	
	border: 3px solid #FFC300;
}


.tables img {
	cursor: pointer;
}


#list {
	width: 500px;
	background: #FFC300;
	border-radius: 20px;
	margin-top: 10px; 
}

#list td {
	vertical-align: middle;
}

.listTable {
	margin-top: 50px;
	width: 300px;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu {
   font-family: 'Jua', sans-serif;
   font-size: 15px;
}

th {
   font-family: 'Jua', sans-serif;
   font-size: 30px;
   text-align: center;
}

#jumun {
   font-family: 'Black Han Sans', sans-serif;
   font-size: 15px;
   text-align: center;
}

.report {
   font-family: 'Black Han Sans', sans-serif;
   font-size: 15px;
   text-align: center;
}

.orderList {
   font-family: 'Black Han Sans', sans-serif;
   font-size: 15px;
   text-align: center;
}

.orderMenu {
   border-top-width:20px;
}

.tables tr {
   border: 1px solid #FFC300;
}

.tables td {
   border: 1px solid #FFC300;
}

.btnPlus {
   background : white;
   border : 1px solid black;
   height : 20px;
   width : 20px;
   margin-left : 10px;
}

.btnMinus {
   background : white;
   border : 1px solid black;
   height : 20px;
   width : 20px;
   margin-right : 10px;
}

#cancel {
   background : #EA0000;
   color : white;
   text-align: center;
}

